:root {
  --primary: #1db954;
  --background: #121212;
  --background-paper: #181818;
  --text-primary: #e5e5e5;
  --text-secondary: #7c7c7c7;
  --divider: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

body {
  color: var(--primary);
  background-color: var(--background);
}
